frame[name="frame3"] {
  width: 70%;
  background-color: black;
}
frame[name="frame1"] {
  width: 70%;
  background-color: black;
}
frame[name="frame2"] {
  width: 70%;
  background-color: black;
}
frame[name="frame4"] {
  background-color: ;
}
